.venv/
.clean_venv/
.test_venv/
.git/
.github/
.pytest_cache/
.ruff_cache/
**/__pycache__/
*.pyc
*.pyo
*.pyd
.db/
pgdata/
data/
vectorstore/
htmlcov/
server/tests/
client/node_modules/
client/dist/
node_modules/

